@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
body {
  min-width: 500px;
  font-family: "Noto Sans JP", sans-serif;
}

h1 {
  font-size: 18px;
}

#githubLink {
  color: #0000EE;
}
